.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.733);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    

}

.popup_content {
    
    border-radius: 10px;
    max-width: 700px;
  
    text-align: center;
    padding: 20px;
    flex-direction: row;
    display: flex;
}


/* Content text */

.content_text {
    background: #606c88;
    background: -webkit-linear-gradient(to right, #593f6b, #816088);
    background: linear-gradient(to right, #633f6b, #606c88);
    padding: 20px;
    box-shadow: 3px 5px 10px 1px #494747a9;
    max-width: 350px;
    border-radius: 10px;
}

/* Title */

.content_text h2 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #fff;
}

/* Text description */
.description{
    line-height: 1.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    color: rgb(209 213 219);
    
    
}




/* form */



.content_text form{
    display: flex;
    max-width: 28rem;
    margin-top: 1rem;
    column-gap: 0.5rem;



}
.content_text input{
    outline: none;
    line-height: 1.5rem;
    font-size: 0.875rem;
    color: rgb(255 255 255 );
    padding: 0.5rem 0.875rem;
    background-color: rgb(255 255 255 / 0.05);
    border: 1px solid rgba(253, 253, 253, 0.363);
    border-radius: 0.375rem;
    flex: 1 1 auto;
   

}

.content_text input::placeholder{
    color: rgb(216, 212, 212);

}

.content_text input:focus{

    border: 1px solid rgb(99 102 241);
}



.subs-btn{
    color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: rgb(99 102 241);
  border-radius: 0.375rem;
  border: none;
  outline: none;
}


.subs-btn{
    cursor: pointer;
}
.subs-btn:hover{
    border-color: 2px solid #c7c58da9 ;
}



.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    /* border: 1px solid white; */
    font-size: 40px;
    cursor: pointer;
    color: rgb(206, 197, 197);
    border:none;
    animation: btnMovimiento 1s infinite ease-in-out;
}
.close-btn:hover{

    color: #a77fb4;
    font-weight: 700;
}



/* Movimiento botón */

@keyframes btnMovimiento {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(15deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  /* Estilos específicos para iPhone */
  @media only screen and (max-width: 767px) {
    .popup_content {
        display: flex; /* Asegúrate de que sea un contenedor flex */
        flex-direction: column; /* Cambia la disposición a columna */
        height: auto;
        max-width: 90%;
        align-items: center; /* Centra horizontalmente */
        justify-content: center; /* Centra verticalmente */
        margin: 0 auto; /* Centra el popup en la pantalla */
    }
  
    .content_text {
        padding: 30px; /* Reduce el padding */
        text-align: center; /* Centra el texto */
    }
  
    .content_text h2 {
        font-size: 20px; /* Ajusta el tamaño del título */
    }
  
    .subs-btn {
        width: 100%;
        margin-left: 0;
    }
  
    .close-btn {
        position: absolute;
        top: 10px;
        left: 80%; /* Ajusta para centrar horizontalmente */
        transform: translateX(-50%); /* Ajusta el botón a la izquierda para centrar */
        background: none;
        font-size: 40px;
        cursor: pointer;
        color: white;
        border: none;
        animation: btnMovimiento 1s infinite ease-in-out;
    }
  
    .content_text input {
        width: 80%;
        align-items: center;
    }
  
    /* Texto */
    .popup_content p {
        font-size: 15px;
        align-items: center;
        text-align: center; /* Asegúrate de que el texto esté centrado */
        justify-content: center;
    }
  }
  

/* Estilos específicos para iPad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .popup_content {
    flex-direction: column; /* Cambia la disposición a columna */
    height: auto;
    max-width: 90%;
    align-items: center;
}



.content_text {
    padding: 30px; /* Reduce el padding */
}

.content_text h2 {
    font-size: 20px; /* Ajusta el tamaño del título */
}



.content_text input{

  width: 80%;
  align-items: center;

}

.subs-btn {
    width: 100%;
    margin-left: 0;
}
}



