.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(145deg, #747272f8, #474747);
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
    width: 40%; /* Cambia esto en media queries */
    height: 55px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5); /* Sombra para efecto 3D */
    transform: perspective(500px) translateZ(30px); /* Efecto 3D */
}

.nav-visible {
    transform: perspective(500px) translateZ(30px) translateY(0); /* Posición normal con 3D */
}

.nav-hidden {
    transform: translateY(-150%);
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0; /* Asegurarse de que no haya padding adicional */
    margin: 0; /* Asegurarse de que no haya margen adicional */
}

.navigation a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px; /* Cambia esto en media queries */
    padding: 0; /* Se ajustará en media queries */
    text-shadow: rgb(117, 116, 114) 1px 0 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Añadir animación */
}

.navigation a:hover {
    border-radius: 5px;
    padding: 15px; /* Ajustar padding en hover */
    background-color: rgba(240, 248, 255, 0.113);
    transform: perspective(500px) translateZ(10px); /* Efecto 3D en hover */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Sombra en hover */
}

/* Optimización para dispositivos móviles */
@media only screen and (max-width: 767px) {
    .navigation {
        width: 80%; /* Aumentar el ancho para usar mejor el espacio */
        height: 50px; /* Reducir un poco la altura */
        margin-top: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Mantener una sombra más ligera */
    }

    .navigation a {
        font-size: 14px; /* Ajustar tamaño de fuente para móviles */
        padding: 8px; /* Ajustar padding para evitar desbordes */
        text-align: center; /* Alinear el texto al centro */
    }

    .navigation a:hover {
        padding: 8px; /* Mantener un padding mínimo */
        background-color: rgba(240, 248, 255, 0.1);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* Sombra más ligera */
    }
}

/* Botón descargar CV */
.cv-button {
    background-color: antiquewhite;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: fixed; /* Fija el botón en la parte superior derecha */
    right: 20px;
    top: 20px;
}

.cv-button:hover {
    background-color: #e6cdbd;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Optimización para iPad */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .navigation {
        width: 85%;
        margin-top: 15px;
    }

    .navigation a {
        font-size: 16px; /* Tamaño de fuente adecuado para iPad */
        padding: 12px; /* Ajustar padding */
    }
}

/* Optimización para pantallas grandes */
@media only screen and (min-width: 1025px) {
    .navigation {
        width: 40%; /* Mantener el ancho original */
        height: 55px; /* Altura original */
    }

    .navigation a {
        font-size: 16px; /* Tamaño de fuente para pantallas grandes */
        padding: 10px; /* Ajustar padding */
    }
}
