.aboutMe-container{
    padding-top: 30px;
    color: white;
    justify-content: start;
    text-align: start;
    

}

.aboutMe-container h2{

    font-size: 40px;
}

.aboutMe-container p{

    text-align: justify;
}