.aboutMe-container{
    padding-top: 80px;
    color: white;
    justify-content: start;
    text-align: start;padding-top: 30px;
    

}

.aboutMe-container h2{

    font-size: 40px;
    padding-top: 20px;
}

.aboutMe-container p{
    
    text-align: justify;
    padding-top: 30px;
    
}